.courses {
  /* min-height: 100vh; */
  background-color: #cddeff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.courses h2 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 2.2px;
}

ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}



.course-list {
width: 80%;
display: flex;
align-items:center;
justify-content: center;
flex-wrap: wrap;
}

.course-item {
    width: 300px;
    height: 250px;
    margin: 10px 20px;
    background-color: #252F6A;
    color: white;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.course-item-img {
width: 100%;
border-bottom: 2px solid #cddeff;
border-radius: 5px 5px 0px 0px;
height: 120px;
}

.course-item-title {
font-family: 'Titillium Web', sans-serif;
text-align: center;
color: #eef2ff; 
}

.course-item p {
    display: inline-block;
    padding: 7px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}