/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Titillium Web', sans-serif; 
*/

/*
red/accent color - #ff5959 rgb(255, 89, 89)
dark blue-gray - #676fa3 rgb(103, 111, 163)
darker blue-gray - #252F6A rgb(37, 47, 106)
pale blue-gray - #cddeff rgb(205, 222, 255)
gray - #eef2ff rgb(238, 242, 255)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}